@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --color-primary: #16191d;
  --color-second: #aaaaaa;
  --color-auxiliary: #aaaaaa;
  --color-third: #333333;
  --color-fourth: #ffffff;
  --color-fifth: #464646;
  --color-sixth: #ff1010;
  --color-switch: #ffffff;
}

[data-theme="dark"] {
  --color-primary: #16191d;
  --color-second: #aaaaaa;
  --color-auxiliary: #aaaaaa;
  --color-third: #333333;
  --color-fourth: #ffffff;
  --color-fifth: #464646;
  --color-sixth: #ff1010;
  --color-switch: #ffffff;
}

[data-theme="light"] {
  --color-primary: #ffffff;
  --color-second: #333333;
  --color-auxiliary: #d6d6d6;
  --color-third: #d8d8d8;
  --color-fourth: #000000;
  --color-fifth: #bdbdbd;
  --color-sixth: #c21010;
  --color-switch: #16191d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--color-third);
}
body::-webkit-scrollbar-thumb {
  background: var(--color-second);
  border-radius: 1rem;
}
